
# Created by https://www.toptal.com/developers/gitignore/api/django
# Edit at https://www.toptal.com/developers/gitignore?templates=django

### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media
/static
SECRET_KEY = 'django-insecure-xfg@iwf$xwnf(aj=g%7(*=^zmx(#mu!73-&%-g=0&axppgqqk8'

